
    <div class="contact-form">
        <form method="post" class="contact-validation-active" (submit)="sendEmail($event)" id="contact-form-main">
            <div>
                <input type="text" name="name" id="name" placeholder="Name*" required>
            </div>
            <div>
                <input type="tel" name="phone" id="phone" placeholder="Phone*" required>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Email*" required>
            </div>
            <div>
                <textarea name="note"  id="note" placeholder="Message"></textarea>
            </div>

            <div class="submit-area">
                <button type="submit" class="theme-btn">Submit It Now</button>
                <div id="loader">
                    <i class="samooha-icon-reload"></i>
                </div>
            </div>
            <div class="clearfix error-handling-messages">
                <div id="success">Thank you</div>
                <div id="error"> Error occurred while sending email. Please try again later. </div>
            </div>
        </form>
    </div>


<ng-template #content let-modal>
    <div class="modal-body">
        <p>We received your request, will touchbase on your requirement </p>
        <p>Thanks for choosing Samooha</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>