<!-- start preloader -->
<div class="preloader" *ngIf="showPreLoader">
    <div class="loader">Loading...</div>
  </div>
  <!-- end preloader -->
<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>CREATING <br>A NEW IDENTITY.</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->


<!-- start blog-pg-section -->
<section class="blog-pg-section blog-fullwidth section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 offset-lg-2 col-12 order-last">
                <div class="blog-content">
                    <div class="post format-standard-image">
                        <h3>Upcoming Projects</h3>
                        <div class="entry-media">
                            <img src="assets/images/awards/upcomming-projects.jpg" alt>
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Green E- City</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Tukkuguda</div>
                            </div>
                            <p>Samooha Green E-city is situated at Maheswaram, Rangareddy District, Hyderabad. It is surrounded by international schools and residential townships. The project has residential plots in varied sizes. It has been meticulously built to provide satisfaction and is situated in a picture- perfect setting with spectacular vistas.</p>
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Green Smart City</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Tukkuguda</div>
                            </div>
                            <p>Samooha Green Smart City is another upcoming venture based around Pharma City, an initiative to build an eco-friendly environment and a healthy lifestyle. Hence, the plots are designed in accordance with reasonable rates.</p>
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Green Silicon City</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Maheswaram</div>
                            </div>
                            <p>The forthcoming project will redefine professionalism and is prepared to make a positive change in the way people live, play, and work. Our mandate is simple and we are committed to creating a brighter tomorrow.</p>
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Vari Bommarillu</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Ibrahimpatnam</div>
                            </div>
                            <p>Samooha Vari Bommarillu is one of the popular upcoming residential developments. It has a lavish yet thoughtfully designed locality in compliance with the best affordable deals.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->