<!-- start site-footer -->
<footer class="site-footer">
  <div class="container">
      <div class="row widget-area">
          <div class="col-lg-4 col-xs-6  widget-col about-widget-col">
              <div class="widget newsletter-widget">
                  <h3>Samooha</h3>
                  <p> Plot.no.18,Flat No.301,Srinidhi Nest Apartment, Beside SBI bank,Whitefields,Kondapur, Hyderabad - 500084.</p>
              </div>
          </div>

          <div class="col-lg-4 col-xs-6 widget-col">
              <div class="widget contact-widget">
                  <h3>Location</h3>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15224.353519992916!2d78.3684902!3d17.4554835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a1bd0df32b7aa6d!2sSamooha%20Projects!5e0!3m2!1sen!2sin!4v1629304433991!5m2!1sen!2sin" width="100%" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          </div>
          <div class="col-lg-4 col-xs-6 widget-col">
              <div class="widget link-widget">
                <h3>Reach Us</h3>
                <p>+91 404261 3261<br>info@samoohaprojects.com</p>
                <p></p>
                  
              </div>
          </div>
      </div>
  </div> <!-- end container -->

  <div class="lower-footer">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="lower-footer-inner clearfix">
                      <div>
                          <p>Copyright © 2021 Samooha Projects All Rights Reserved.</p>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- end site-footer -->

