<!-- start preloader -->
<div class="preloader" *ngIf="showPreLoader">
    <div class="loader">Loading...</div>
  </div>
  <!-- end preloader -->
<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>SAMOOHA <br>PHARMA AVENUE</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->

<!-- start blog-pg-section -->
<section class="case-single-section">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="case-single-area">
                    <div class="case-info clearfix">
                        <div>
                            <span>Project</span>
                            <p>Samooha Pharma Avenue</p>
                        </div>
                        <div>
                            <span>Location</span>
                            <p> Nandiwanaparthy</p>
                        </div>
                        <div>
                            <span>AREA</span>
                            <p>10 ACRES</p>
                        </div>
                        <div>
                            <span>category</span>
                            <p>Residential</p>
                        </div>
                    </div>
                    <div class="case-details">
                        <p>&nbsp;</p>
                        <div class="img-holder">
                            <img src="assets/images/projects/pharma-avenue.jpg" alt="">
                        </div>

                        <div class="clearfix">
                            <p>Samooha Projects has launched Samooha Pharma Avenue, a DTCP approved venture with numerous amenities. It is located at Nandiwanaparthy, Ranga Reddy District, Hyderabad with a plot area of 1800 (in sq ft). These are spacious open plots for residential purposes and are low in investment and do not demand hefty finance.</p>
                            <p>Samooha Pharma Avenue is just 300 meters away from Pharma City the largest pharmaceutical industrial park in the world, which is an esteemed and emerging industrial capital and major economic hub in Hyderabad. Many prominent residential, educational, and commercial facilities are developing in the neighborhood. Therefore, it acquires a good social infrastructure. It will provide the best means of transportation and livelihood as the area is linked to Eliminedu Aerospace, Amazon's Data Center which is based on the outskirts of Hyderabad and near to Proposed Regional Ring Road built with the vision to connect these surrounding towns and districts to Hyderabad city. </p>
                            
                            <p>The best advantage of open plots is to get a house constructed tailored to our requirements. One has the independence to get a personalized design for the house within your budget. This residential lot is a great advantage in making your dreams a reality. Moreover, they are located on the outskirts of the city giving an advantage of a clean atmosphere. Thus, Samooha Pharma Avenue brings forth plots designed that are well furnished and is strategically located to reflect the contemporary way of life</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->