<!-- start preloader -->
<div class="preloader" *ngIf="showPreLoader">
  <div class="loader">Loading...</div>
</div>
<!-- end preloader -->

<!-- start page-title -->
<section class="page-title">
  <div class="page-title-container">
    <div class="page-title-wrapper">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <h2>EXCELLENCE IN AFFORDABLE PLOTTING DEVELOPMENT.</h2>
          </div>
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div>
  </div>
</section>
<!-- end page-title -->


<!-- start about-section -->
<section class="about-section about-pg-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col col-xxl-8 offset-xxl-2 col-lg-10 offset-lg-1">
        <div class="section-title">
          <h2>Crafting A New Legacy</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-10 offset-xl-1">
        <div class="about-details">
          <p>Samooha, the Hyderabad-based real estate company, was established with the idea of introducing aesthetic living at an affordable price. We understand the value of quality, and we respect the plan of our clientele and provide services accordingly. Samooha holds an experienced, professional, and dedicated team of talent to deliver optimum design satisfaction to the clients while balancing ever-evolving demands and emerging requirements.</p>
          <p>We promise to offer lavish designs built-in sophisticated landscape layouts while ensuring comfort. Our product/service lines include construction, loan and registration assistance, and resale. Our exceptionally skilled team never compromises on work to deliver quality and hence acknowledged on lavish living experiences by ET Excellence Awards 2020-21 and awarded the team with Excellence in Affordable Plotting Development award.</p>
          <p>To deliver the best of quality, we at Samooha Projects guard the project site with all-around compound walls to ensure the safety and security of the residing community. Our projects are facilitated with a well-curated play area and a recreational slot for children and senior citizens. Blacktop roads with avenue plantation and added Vaastu compliment plots speak about our keen eye on details.</p>
          <p>We entrust the projects with zero compromises to tailor-made edifices at affordable prices, thus helping the company gain business through happy clients' references. Samooha Projects achieved appreciation for best-in-class services and dedication to meet client expectations.</p>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</section>
<section class="about-section about-pg-section">
  <div class="container">
    <div class="row">
      <div class="col col-xxl-8 offset-xxl-2 col-lg-10 offset-lg-1">
        <div class="section-title">
          <h3>&nbsp;</h3>
          <h2>Meet Our Management</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-10 offset-xl-1">
        <div class="about-details team">
          <h4>Mallikarjun Kurra <br><small>Founder & CEO</small></h4>
          <p>Samooha Projects is led by the Founder, Mr Mallikarjun Kurra, a genius in the industry. Mallikarjun Kurra started his journey in 2004 and has more than 16 years of solid expertise in land acquisition, project funding, project designing, sales and marketing. Backed with a rich vein of industry experience handling over 40 high-profile projects from Bangalore, Hyderabad, and Visakhapatnam, his thoughtful guidance means all for Samooha Projects.</p>
          <p>The Visionary leader Mr Mallikarjun Kurra has a futuristic outlook towards the industry focused on addressing the needs of the people. He laid the foundation of Samooha Projects Pvt. Ltd. in 2020 by bringing in highly experienced real estate veterans with the goal to deliver world-class, aesthetically pleasing projects to all clients. Over the years, the Group has built a commendable track record designing projects with the ideals of lush greenery and lavish living. They are making dream homes a reality, specifically for the Indian middle-income earning groups.</p>
          <p>His vision for the firm was to ideate an enterprise based on the foundational values of transparency and high-value creation.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-xl-10 offset-xl-1">
        <div class="about-details team">
          <h4>N.Anitha <br><small>Chairman</small></h4>
          <p>MMs Anitha is a seasonal investor in various domains. <br/>She has successful investments in project funding, share market, and land investor in different reputed companies. Her passion for business and the industry added more value to the company. The trust she developed for Samooha among customers boosted the brand value further.
          </p>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</section>
<!-- end about-section -->
