<!-- start preloader -->
<div class="preloader" *ngIf="showPreLoader">
    <div class="loader">Loading...</div>
  </div>
  <!-- end preloader -->
<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>INVESTMENT <br> OPPORTUNITIES... <br>LIKE NEVER BEFORE.</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->


<!-- start blog-pg-section -->
<section class="blog-pg-section blog-fullwidth section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 offset-lg-2 col-12 order-last">
                <div class="blog-content">
                    <div class="post format-standard-image">
                        <div class="entry-media">
                            <img src="assets/images/blog/img-4.jpg" alt>
                        </div>
                        <div class="entry-details">
                            
                            <h3><a routerLink="/samooha-golden-gate">Samooha Golden Gate</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Yacharam,Hyderabad</div>
                                <div class="meta-info"><i class="samooha-icon-area"></i> Area : 125 acres</div>
                            </div>
                            <p>Samooha Green-Pharma Phase one is Located at Nandiwanaparthy village,Yacharam Mandal,Rangareddy district.</p>
                            <!-- <a href="#" class="read-more">Read More <i class="samooha-icon-right"></i></a> -->
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Green Pharma ONE</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Nandiwanaparthy</div>
                                <div class="meta-info"><i class="samooha-icon-area"></i> Area : 120 acres</div>
                            </div>
                            <p>Samooha Green-Pharma Phase one is Located at Nandiwanaparthy village,Yacharam Mandal,Rangareddy district.</p>
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Pharma Valley</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Medipally</div>
                                <div class="meta-info"><i class="samooha-icon-area"></i> Area : 350 acres</div>
                            </div>
                            <p>Samooha Green-Pharma Phase one is Located at Nandiwanaparthy village,Yacharam Mandal,Rangareddy district.</p>
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Pharma Village</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Medipally</div>
                                <div class="meta-info"><i class="samooha-icon-area"></i> Area : 40 acres</div>
                            </div>
                            <p>Samooha Green-Pharma Phase one is Located at Nandiwanaparthy village,Yacharam Mandal,Rangareddy district.</p>
                        </div>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-details">
                            <h3><a href="#">Samooha Vari Sonthillu</a></h3>
                            <div class="project-meta">
                                <div class="meta-info"><i class="samooha-icon-location"></i> Ibrahimpatnam</div>
                                <div class="meta-info"><i class="samooha-icon-area"></i> Area : 100 acres</div>
                            </div>
                            <p>Samooha Green-Pharma Phase one is Located at Nandiwanaparthy village,Yacharam Mandal,Rangareddy district.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->