<!-- start preloader -->
<div class="preloader" *ngIf="showPreLoader">
    <div class="loader">Loading...</div>
  </div>
  <!-- end preloader -->
<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>A TRADITION <br/>OF TRUST.</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->

<!-- start blog-pg-section -->
<section class="blog-pg-section blog-fullwidth section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 offset-lg-2 col-12 order-last">
                <div class="blog-content">
                    <div class="post format-standard-image">
                        <div class="entry-media">
                            <img src="/assets/images/awards/samooha-awards1.jpg" alt>
                            <img src="/assets/images/awards/samooha-awards2.jpg" alt>
                            <img src="/assets/images/awards/samooha-awards3.jpg" alt>
                            <img src="/assets/images/awards/samooha-awards4.jpg" alt>
                            <img src="/assets/images/awards/samooha-awards6.jpg" alt>
                            <img src="/assets/images/awards/samooha-awards5.jpg" alt>
                            <img src="/assets/images/awards/samooha-awards7.jpg" alt>
                            <img src="/assets/images/awards/samooha-times-business-award.jpg" alt>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->
