<!-- start preloader -->
<div class="preloader" *ngIf="showPreLoader">
    <div class="loader">Loading...</div>
  </div>
  <!-- end preloader -->
<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>SAMOOHA <br>GOLDEN GATE</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->

<!-- start blog-pg-section -->
<section class="case-single-section">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="case-single-area">
                    <div class="case-info clearfix">
                        <div>
                            <span>Project</span>
                            <p>Golden Gate</p>
                        </div>
                        <div>
                            <span>Location</span>
                            <p>Yacharam, Hyderabad</p>
                        </div>
                        <div>
                            <span>AREA</span>
                            <p>125 ACRES</p>
                        </div>
                        <div>
                            <span>category</span>
                            <p>Residential and Commercial</p>
                        </div>
                    </div>
                    <div class="case-details">
                        <p>&nbsp;</p>
                        <div class="img-holder">
                            <img src="assets/images/projects/golden-gate.jpg" alt="">
                        </div>

                        <div class="clearfix">
                            <p>Located right on the Nagarjuna Sagar highway, facilitated with multiplex, malls, commercial complex, villas, and open plots. the vision behind Samooha's Golden Gate is to provide the best place for your golden future right at the heart of the city surrounded by the state's prestigious utilities including Eliminedu Aerospace, Amazon Data Center, Adibatla IT Hub, BEL Company, and BDL Ibrahimpatnam</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->